@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");
body {
  font-family: "Inter", sans-serif;

  /* font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;  */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.background-img {
  background-image: url(/images/earth.png);
  width: 100% !important;
  height: 900px !important;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 300px;
  left: 0px !important;
}
/* .background-img1 {
  background-image: url(/images/sbu.png);
  width: 100% !important;
  height: 900px !important;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 1300px;
  left: 0px !important;
} */

.glassss {
  background: rgba(7, 105, 197, 0.06);
  backdrop-filter: blur(65px);
  -webkit-backdrop-filter: blur(65px);
  height: 100% !important;
  width: 100% !important;
}

.responsives {
  /**
   * User input values.
   */
  --grid-layout-gap: 10px;
  --grid-column-count: 4;
  --grid-item--min-width: 100px;

  /**
   * Calculated values.
   */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );
  grid-gap: var(--grid-layout-gap);
}
